Repository jhourlad01/crypto-trading-react-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-test, js-lint, js-test, npm-audit

python-lint:
  name: Python Lint (flake8)
  entry: flake8 api/
  language: system

python-test:
  name: Python Test (pytest)
  entry: pytest api/
  language: system

js-lint:
  name: JS Lint (eslint)
  entry: npm run lint --prefix client/
  language: system

js-test:
  name: JS Test (vitest)
  entry: npm run test -- --run --dir client/
  language: system

npm-audit:
  name: NPM Audit
  entry: npm audit --prefix client/
  language: system

Do lint, test and audit on pre-commit
  .husky/pre-commit
  api/main.py
  api/test_main.py
  client/package-lock.json
  client/package.json
  client/src/core/App.test.jsx
Due: python-lint, python-test

API: folder structure
  .vscode/settings.json
  api/.env.example
  api/README.md
  api/core/__init__.py
  api/core/app.py
  api/features/__init__.py
  api/features/auth.py
  api/features/dashboard.py
  api/features/home.py
  api/features/trading.py
  api/main.py
  api/requirements.txt
  api/shared/__init__.py
  api/shared/models.py
Due: python-lint, python-test

Integrate coin data (redacted funtionalities)
  api/.env.example
  api/features/coin/coin_provider.py
  api/features/coin/coin_provider_registry.py
  api/features/coin/coin_router.py
  api/features/coin/coin_service.py
  api/features/coin/providers/coin_gecko_provider.py
  api/main.py
  api/run.bat
  api/run.py
  api/run.sh
  api/shared/models.py
  client/.env
  client/.env.example
  client/package-lock.json
  client/package.json
  client/src/features/dashboard/Dashboard.jsx
Due: python-lint, python-test

Update README
  README.md
  api/README.md
  api/setup_env.py
  client/README.md
  requirements.txt
Due: python-lint, python-test

Fix duplicate Coingecko requests
  api/features/coin/providers/coin_gecko_provider.py
Due: python-lint, python-test

Fix .gitignore files
  api/.gitignore
  client/.gitignore
Due: none

Fix dev environment
  api/dev.sh
  api/env.example
  api/main.py
  api/requirements.txt
  api/run.py
  api/setup_env.py
Due: python-lint, python-test

Fix dev environment
  client/.env
  client/env.example
  client/package.json
  client/vite.config.js
Due: js-lint, js-test, npm-audit

API: WSL compatibility fix
  api/dev.sh
Due: none

API: run on HTTPS
  api/To
Due: none

API: run on HTTPS
  api/dev.sh
  api/env.example
  client/.env
Due: none

Path conditions:
  python-lint: any of: \.py$
  python-test: any of: \.py$
  js-lint: any of: \.(js|mjs|cjs)$
  js-test: any of: \.(js|mjs|cjs)$
  npm-audit: any of: \.(js|mjs|cjs)$
